In [23]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
import numpy as np
from numpy.random import choice

In [15]:
vectorizer = CountVectorizer(lowercase=True, strip_accents="ascii")

In [16]:
dem = pd.read_parquet("10_datasets/democrats.parquet", engine='fastparquet')
rep = pd.read_parquet("10_datasets/republican.parquet", engine='fastparquet')
neut = pd.read_parquet("10_datasets/neutral.parquet", engine='fastparquet')

In [17]:
features_dem = vectorizer.fit_transform(dem["total_post"])
vocabulary = vectorizer.get_feature_names_out()

In [18]:
dem_counts = pd.DataFrame(data=features_dem.toarray(), columns=vocabulary)

In [19]:
average_post_length = dem_counts.sum(axis=1)
post_sd = dem_counts.sum(axis=1).std()

In [20]:
dem_counts.sum(axis=1).describe()

count    4937.000000
mean       45.205590
std        56.372995
min         0.000000
25%        22.000000
50%        31.000000
75%        47.000000
max      1711.000000
dtype: float64

In [21]:
dem_final = dem_counts.sum(axis=0)

In [45]:
dem_final/dem_final.sum()

00         0.000004
000        0.000497
001        0.000004
005        0.000009
00s        0.000004
             ...
zones      0.000004
zoning     0.000004
zoom       0.000004
zoomers    0.000004
zte        0.000009
Length: 14211, dtype: float64

In [47]:
dem_final = dem_final/ dem_final.sum()

In [ ]:
np.random.normal()

In [49]:
draw = list(choice(dem_final.index, 25, p=dem_final))

In [51]:
length = np.random.normal(5, 1)

In [56]:
round(length,1)

4.9

In [39]:
output = pd.DataFrame()
mylist = ["test", "1", "2", "3"]

In [40]:
output["test"] = mylist

In [41]:
output["type"] = "democrats"

In [42]:
output.head()

   test       type
0  test  democrats
1     1  democrats
2     2  democrats
3     3  democrats

In [57]:
test = pd.read_parquet("10_datasets/synthetic.parquet", engine='fastparquet')

In [62]:
test.sample(1).iloc[0,0]

'control great included big at grin harm the on level while reality bad there how and right that about million states man diabetes enact by again think else dues group keeps cause job imploding with through the miles pay take more bunch is voted re get it wars without to america true leftist has inflicted at this'